h1 {
    color: #2C4B9A;
    text-align: center;
    }

body {
    color: #2C4B9A

}    
table {
    border:  1px solid #DBD8D7;
    width: 60%;
    align-content: center
    

}
td {
    padding: 8px;
}

th {
    text-align: left;
}
.a {
    align-items: center;
    text-align: center;
    color: #2C4B9A;
}
.container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align : center;
    -moz-box-align    : center;
    -ms-flex-align    : center;
    -webkit-align-items : center;
    align-items : center ;
    justify-content : center;
    -webkit-justify-content : center;
    -webkit-box-pack : center;
    -moz-box-pack : center;
    -ms-flex-pack : center;
}
.coa {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align : center;
    -moz-box-align    : center;
    -ms-flex-align    : center;
    -webkit-align-items : center;
    align-items : center ;
    justify-content : center;
    -webkit-justify-content : center;
    -webkit-box-pack : center;
    -moz-box-pack : center;
    -ms-flex-pack : center;
}